.form{
    position: relative;
	background: rgba(0,0,0,.7);
	width: 100%;
	max-width: 500px;
	margin: 48px auto;
	color: #fff;
	border-radius: 10px;


}

.form input{
    outline: none;
	background: rgba(0,0,0, .5);
   
	display: block;

	width: 100%;
	padding: 10px 15px;
	color: #fff;
	border:none;
	border-radius: 2px;
	border-bottom: 4px solid #160f75;
	font-family: Roboto;
	font-size: 15px;
	font-weight: normal;
	margin:0 0 20px 0;
	transition: all .5s ease;

}

